
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url(https://cdn.glitch.global/6f29ad98-913d-49f7-a5c0-5fe0ff9635cb/austin-kehmeier-lyiKExA4zQA-unsplash.jpg?v=1711425214301);
    background-size: cover;
    line-height: 2.0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


header {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    padding: 70px 0;
    text-decoration: underline;
    text-align: center;
    line-height: 2.0;
}

.logo {
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

.hero {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 50px 0;
    text-align: center;
}

.hero h2 {
    margin-bottom: 20px;
}

.hero p {
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.btn:hover {
    background-color: #555;
}

/* Footer Styles */
footer {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    padding: 70px 0;
    text-align: center;
    text-decoration: underline;
}

.social-links {
    margin-bottom: 20px;
}

.social-links li {
    display: inline;
    margin-right: 10px;
}

.social-links li a {
    color: black;
    text-decoration: underline;
}
